<div class="container">

<div class="well">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%=session[:identity]%>'s Gallery
                <small><%= @root_folder %></small>
            </h1>
        </div>
    <form action='/secure/gallery/search' method='post' class="form-inline well">
        <div class="col-lg-12">
            <label for="searchtext">Introduce the picture name:</label>
            <input type="search" class="form-control" id="search" name="search">
            <input type="submit" class="btn btn-primary" value="Search">
        </div>
    </form>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">

    <% 
        @items.each do |item| 
            @url_delete = item['type'] != 'folder' ? '/secure/delete_content/'+@root_folder+item['name'] : '/secure/delete_content/'+@root_folder+item['name']+'/'
            @gallery_url = item['type'] != 'folder' ? '/secure/gallery/'+@root_folder+item['name'] : '/secure/gallery/'+@root_folder+item['name']+'/'
            @current_img_url = item['type'] != 'folder' ? 'data:image/png;base64,'+item['preview'] : '/resources/folder.png'
            @tag_url = '/secure/manage_tag_content/'+@root_folder+item['name']
    %>
        <div class="col-md-4 portfolio-item">
            <a href="<%= @gallery_url %>">
                <img style="max-height: 300px; max-width: 300px;" class="img-responsive img-rounded" src="<%= @current_img_url %>" alt="">

            </a>
            <h3>
                <a href="<%= @gallery_url %>"><%= item['name'] %></a>
            </h3>
            <p>
                <a href="javascript:delete_content('<%= item['name'] %>', '<%= @url_delete%>')">Delete</a> | <a href="#">Move</a>
                
                <% if item['tags'] %>
                <p>
                    <% @items = ""
                        item['tags'].each do |tag| 
                        @items = @items+ tag+","
                       end %>
                    <input data-tag-url="<%=@tag_url%>" type="text" value="<%= @items %>" data-role="tagsinput" />
            </p>
    <% end %>
            </p>
        </div>  
    <% end %>
    </div>
</div>
<!-- /end row -->
</div>
<!-- /.container -->

<script>
    $('input').on('beforeItemRemove', function(event) {
        console.log(event.item, $(this).data("tagUrl"))
        tag_url = $(this).data("tagUrl")
        $.ajax({
                type: "GET",
                url: tag_url,
                data: { tag: event.item, operation: "delete" }
                })
        .done(function( msg ) {
            alert( "Tag was deleted: " + msg );
        });
    });

     $('input').on('itemAdded', function(event) {
        console.log(event.item, $(this).data("tagUrl"))
        tag_url = $(this).data("tagUrl")
        $.ajax({
                type: "GET",
                url: tag_url,
                data: { tag: event.item, operation: "add" }
                })
        .done(function( msg ) {
        });
    });

</script>
